

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #42826D; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #1f1f1f; 
  }


hr{
    color:#42826D;
}

#pp{
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

p#me{
    font-size: large;
}

li a{
    color:#1E2838 !important;
}

li a:hover{
    color:#42826D !important;
}
#sidebar{
    height:100vmax;
    margin: 0 0 0 -10px;
    overflow-y:0;
}

div.carousel-item{
    height:525px;
}

button.nav-link{
    background-color: #1E2838;
    color:white;
}

button.nav-link:hover{
    color:aquamarine;
}

tr:hover td{
    color:aliceblue !important;
}

img#snapshot{
    height: 326.66px;
    width:245px;
}

.accordion-button{
    padding:30px;
}
.accordion-button:hover{
    color:#42826D !important;
}
.accordion-button:not(.collapsed) {
    background-color: white !important; 
}

pre#march{
    margin-left: 16px;
}

.circle {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: inline-flex; 
    align-items: center; 
    justify-content: center; 
    background-color: aquamarine;
}
.circle i {
    font-size: 24px; 
} 

p#icon{
    margin-top:120px;
}


.container#exp{
    
    border-radius: 2px 20px ;
}

li::marker {
    color: aquamarine;
  }

p#icons a{
    color:#999999 !important
}

@media (max-width: 991px){
    div.carousel-item{ 
        height: fit-content;
    }
    .navbar-toggler{
        border:0px !important;
    }
    span{
        display: none;
    }

    col ul li{
        font-size: larger;
    }
    span.circle{
        display: none;
    }
}